<% if Disbursment.count < 1 %>
  <h1> This JOB is running first time and we have around 400k Record in DB to process, it might take little longer, Please have patiense </h1>
<%end%>

<h3> To see updated data you can visit this <a href='\'>link </a> to click on refresh button </h3>
